.dashboard-wrapper {
	padding: 30px;
	.activity-container {
		.activity-wrapper {
			width: 300px;
			height: 150px;

			background: #171722;
			box-shadow: 0px 4px 14px rgba(98, 53, 226, 0.1);
			border-radius: 30px;
		}
	}
}
